*{

    margin: 0;

    padding: 0;

}

.container{

    display: flex;

    overflow: hidden;

}

.box{

background: #455B86;

border-radius: 10px;

width: 365px;

height: 714px;

margin-left: 1350px;

margin-top: 143px;

}

.box1{

    

background: #EDF7FF;

border-radius: 10px;

width: 365px;

height: 665px;


margin-top: 90px;

}
h3{
   

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 23px;
margin-top: 7px;
margin-left: 100px;
line-height: 28px;
letter-spacing: 0.1em;
color: #FFFFFF;


}
h4{

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
margin-left: 100px;

font-size: 15px;

line-height: 18px;
letter-spacing: 0.1em;

color: #FFFFFF;






}
h5{
    color: #455B86;
}
.border{
    max-width: 93px; 
height: 20px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;

}
.profile-picture{
width: 32px;
height: 32px;
border-radius: 50%;
margin-left: 100px;


}








