* {
    margin: 0px;
    padding: 0;
}


header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 2050px;
    height: 124px;
    background: #004B4B;

}

.container {
    flex-direction: row;
    margin: auto;
    display: flex;

}

h1 {
    display: flex;
    width: 124px;
    height: 18px;
    font-family: 'Arapey';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin-left: 91px;
    color: #C4C4C4;
    margin-top: 51px;

}

h2 {
    display: flex;
    width: 124px;
    height: 18px;
    font-family: 'Arapey';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin-left: 100px;
    color: #C4C4C4;
    margin-top: 51px;
}

h3 {
    display: flex;
    width: 124px;
    height: 18px;
    font-family: 'Arapey';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin-left: 91px;
    color: #C4C4C4;
    margin-top: 51px;
}

h4 {
    width: 100px;
    height: 60px;
    font-family: 'Arapey';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 60px;
    margin-left: 250px;
    margin-top: 30px;
    color: #E0DFDD;
}

.logo {
    display: flex;
    flex-direction: row;
}

.img {
    margin-left: 800px;
    margin-top: 50px;
}

.vector {
    margin-left: 5px;
    margin-top: 35px;

}

.vec {
    width: 30px;
    height: 0px;
    margin-left: 20px;
    margin-top: 10px;
    border: 3px solid #C4C4C4;

}

h5 {
    display: flex;
    text-align: center;
    width: 360px;
    height: 60px;
    font-family: 'Arapey';
    font-style: normal;
    font-size: 30px;
    font-weight: 400;
    line-height: 60px;
    color: #0D0C0C;
}

.restoran {
    display: flex;
    justify-content: center;
}

.img1 {
    display: flex;
    justify-content: end;
}

img1 .img3 {
    display: flex;
    justify-content: center;
    width: 43px;
    height: 43px;
}


@media only screen and (max-width: 900px) {

    .header {
        font-size: 20px;
    }
}


